* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: 'Staatliches', cursive;
  font-size: 1.6rem;
  background: #EFF1FF;
}

header {
  background: #8E9AAF;
  padding: 3rem 0;
}

header img {
  display: block;
  width: 13.7rem;
  margin: 0 auto 3.2rem;
}

header h1 {
  font-size: 40px;
  letter-spacing: 0.05em;
  text-align: center;

  color: #FFFFFF;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

  height: 4.9rem;

  background: #CBC0D3;
}

.container {
  width: 32rem;
  margin: 0 auto;
  padding: 2.8rem 0 6.2rem;
}

.container p {
  font-family: 'Palanquin', sans-serif;
  font-size: 2rem;
  line-height: 1.8rem;

  color: #23053A;

  width: 30.5rem;
  margin: 0 auto;
  margin-bottom: 6.3rem;

  text-align: center;
}

.card-wrapper {
  display: grid;
  gap: 3.2rem;
}

.card {
  position: relative;
  width: 32rem;
}

.card img {
  object-fit: cover;

}

.card h2 {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;

  width: 11.2rem;
  padding: 0 2.3rem;

  background: #FEEAFA;
  border-radius: 20px;

  font-size: 2rem;
  line-height: 3.4rem;

  letter-spacing: 0.05em;

  color: #4A4E69;
}