/*==== RESET ====*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*==== ROOT CONFIG ====*/
:root {
  font-size: 62.5%;
  /*10 px*/

}

/*==== BASE ====*/
body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  background: #E5E5E5;
}

body::before {
  content: '';
  width: 100%;
  height: 43.6rem;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #52586f;

  background-image: url(https://miro.medium.com/max/1400/1*34-5tbanwB0yo0ccyP_7oA.jpeg) ;
  background-repeat: no-repeat;
  background-position: center ;
  background-size: cover;
  filter: brightness(50%) ;

  animation: topdown 900ms;
}

/*==== LAYOUT CONFIG ====*/
.container {
  max-width: 75rem;
  margin: 0 auto;
}

header {
  margin-top: 14rem;
  max-width: 41.7rem;

  color: #FFFFFF;
}

header h1 {
  font-family: 'Staatliches', cursive;
  font-size: 4.8rem;
  line-height: 6rem;

  margin-bottom: 1.8rem;
}

header p {
  font-size: 20px;
  line-height: 30px;
}

/*==== FORM CONFIG ====*/
form {
  background: #FFFFFF;
  border-radius: 20px 20px 0px 0px;

  margin-top: 5.8rem;
  padding: 6.4rem;
  min-height: 30rem;

  display: flex;
  flex-direction: column;
  gap: 3.2rem;

  animation: downtop 700ms backwards;
}

fieldset {
  border: none;
}

fieldset h2 {
  font-size: 2.0rem;
  line-height: 3.4rem;
  margin-top: 1.6rem;

  color: #535971;
}

.fieldset-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

fieldset legend {
  font-family: 'Staatliches', cursive;
  font-size: 2.4rem;
  line-height: 3.4rem;

  color: #535971;

  width: 100%;

  padding-bottom: 1.6rem;
  border-bottom: 1px solid #E6E6F0;
}

.input-wrapper-info {
  display: flex;
  gap: 2.2rem;
}

.input-wrapper-info .info {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.input-wrapper label,
.input-wrapper-info label {
  font-size: 1.4rem;

  line-height: 2.4rem;

  color: #4E4958;

  margin-bottom: 8px;
}

.input-wrapper span {
  font-size: 1.2rem;
  line-height: 2rem;

  margin-left: 1rem;

  color: #C1BCCC;
}

.input-wrapper span:hover {
  color: #636069;
}

.input-wrapper input,
.input-wrapper-info input {
  background: #FAFAFC;

  height: 5.6rem;

  border: 1px solid #E6E6F0;
  border-radius: 8px;

  padding: 0 2.4rem;

  font-size: 1.6rem;
  line-height: 2.6rem;

  color: #6c6a71;
}

.col-3 {
  display: flex;
  gap: 2rem;
}

.col-3>div:nth-child(1) {
  width: 100%;
}

.col-3 .info-time {
  display: flex;
  gap: 1rem;
}

footer {
  background: #6f837a;
  padding: 5.2rem 7.1rem;

  border-radius: 0px 0px 20px 20px;
  margin-bottom: 10rem;
}

footer .button {
  width: 100%;
  height: 5.5rem;

  background: #FF5374;
  border: none;

  border-radius: 2rem;

  font-size: 2rem;
  line-height: 2.6rem;

  color: #FFFFFF;

  text-transform: uppercase;

  letter-spacing: 2px;

  font-family: 'Staatliches', cursive;
}

footer .button:hover{
  background: #d0435f;
}

input:invalid {
  border: 1px solid #FF1010;
}

@media (max-width: 700px) {
  body:before{
    background-position: center;
    
  }

  header {
    text-align: center;
  }

  .container{
    margin: 0 2rem;
  }

  form {
    padding: 3rem;
  }

  .input-wrapper-info input {
    width: 100%;
  }

  .col-3 {
    flex-direction: column;
  }

  .col-3 .info-time {
    flex-direction: column;
  }

  .col-3 input {
    width: 100%;
  }
}

/*==== ANIMATION ====*/
@keyframes topdown{
    0% {
      opacity: 0;
      transform: translateY(-150px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

@keyframes downtop {
  0% {
    transform: translateY(400px);
  }

  100% {
    transform: translateY(0);
  }
}