* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-heading: 'Roboto', sans-serif;

  --bg-color: #121214;

  --base-color: 194;
  --bg-primary-light: hsla(var(--base-color), 100%, 63%, 0.13);
  --primary-color: hsl(var(--base-color), 100%, 63%);

  --text-color: #FFFFFF;


  font-size: 62.5%;
}

.hide {
  display: none;
}

body {
  font-size: 1.6rem;
  font-family: var(--ff-heading);
  color: var(--text-color);

  background-color: var(--bg-color);

  display: grid;
  min-height: 95vh;
}

main{
  justify-self: center;
  align-self: end;
}

button {
  background-color: transparent;
  border: none;

  cursor: pointer;
}

.play svg path,
.pause svg path,
.sound-on svg path {
  fill: var(--primary-color);
}

button svg{
  width: clamp(3.2rem, 2rem + 12vw,6.4rem);
}

#timer {
  font-size: clamp(4rem, 4rem + 11vw, 8.8rem);

  display: flex;
  margin-bottom: 1.6rem;
}

#controls {
  background-color: var(--bg-primary-light);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;

  border-radius: 9999px;

  width: clamp(10rem, 10rem + 30vw, 22.8rem);
  height: clamp(5.5rem, 5rem + 10vw, 10.2rem); 
}

footer{
  justify-self: end;
  align-self: end;

  padding: 0 4rem 3.2rem 0;
 /*  padding-right: 3.2rem;
  padding-bottom: 4rem; */
}

