/* ===== CSS RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===== ROOT CONFIG ===== */
:root {
  font-size: 62.5%;
  --ff-base: 'Roboto', sans-serif;
  --ff-heading: 'Roboto Mono', monospace;

  --bg-color: #000000;

  --fc-primary: #ffffff;
  --fc-secondary: #E1E1E6;
}

/* ===== BASE ===== */
body {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */


  font-size: 1.6rem;
  color: var(--fc-primary);
  font-family: var(--ff-base);

  background: var(--bg-color);
}

h1 {
  font-family: var(--ff-heading);
}

a{
  text-decoration: none;
}

/* ===== PAGE CONTENT ===== */
#page {
  margin: 0 auto;
  max-width: 112rem;
  padding: 1.5rem 0;
}



/* ===== HEADER / SEARCH ===== */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.search {
  display: flex;
  gap: .8rem;
}

.search input {
  color: #7C7C8A;
  font-weight: bold;

  background: #06181C;

  border-radius: .5rem;
  border: none;

  width: 46.2rem;
  padding: 1.6rem;
}

.search button {
  display: flex;
  align-items: center;
  gap: .8rem;

  padding: 1.2rem 3.2rem;

  background: #065E7C;
  border-radius: .5rem;
  border: none;

  color: var(--fc-primary);
  font-weight: bold;
  text-transform: uppercase;

  cursor: pointer;
}

.search button:hover {
  background: #05536d;
}

.search button img{
  animation: rotate 5000ms linear infinite;

}

/* ===== MAIN / TABLE ===== */
 .favorites-table {
  border: 1px solid #4A808C;
  border-radius: 1.2rem;
  -webkit-border-radius: 1.2rem;
  -moz-border-radius: 1.2rem;

  overflow: hidden;

  margin-top: 8.7rem;
}   

table {
  width: 100%;
  border-collapse: collapse;

  text-align: left; 
}

table * {
  font-size: 2rem;
  font-weight: bold;
  color: var(--fc-secondary);
} 

.favorites-table tbody{
  display: block;
  overflow-y: overlay ;

  width: 100%;
  max-height: 40rem;
}

.favorites-table table th {
  padding: 1.6rem 0 1.6rem 4rem; 
  min-width: 205px;
}

.favorites-table table thead tr {
  display: flex;
  background: #092D38;

}

.favorites-table tbody td{
  padding: 2.4rem 0 2.4rem 4rem;
  min-width: 205px;

} 

 table th:first-child,
table td:first-child{
  min-width: 50rem;
} 

@media (max-width: 1128px){
  #page{
    padding-inline: 2rem;
  }
  header{
    flex-direction: column;
    gap: 2rem;
  }
  table th:first-child,
table td:first-child{
  min-width: 25%;
} 
}

table tr:nth-child(even) {
  background: rgba(133, 233, 255, 0.116);
}

table tr:nth-child(odd) {
  background: black;
}

 .favorites-table tbody::-webkit-scrollbar {
  width: 20px;
}

 .favorites-table tbody::-webkit-scrollbar-track {
  background: transparent;
} 

.favorites-table tbody::-webkit-scrollbar-thumb {
  padding: 2px;
  border: 8px solid rgba(0, 0, 0, 0); 
  background-clip: padding-box;
  background-color: hsla(191, 31%, 42%, 1);
  border-radius: 1rem;
}

.favorites-table tbody::-webkit-scrollbar-corner {
  background-color: transparent;
}  

 
/* ===================================== */
td.user {
  display: flex;
  gap: 1.6rem;
}

td.user a{
  display: flex;
  flex-direction: column;
}

td.user img {
  width: 5.6rem;
  height: 5.6rem;

  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #4A808C;
}

td.user span{
  font-weight: normal;

  padding-top: 8px;
}

td .remove {
  background: none;
  border: none;

  color: red;
  
  cursor: pointer;
  transition: all ease 150ms;
}

td .remove:hover{
  color: var(--fc-primary);
  transform: scale(1.1);
} 

.cleanTable{
  background-image: url(assets/images/background-star.svg);
  background-position: center;
  background-repeat: no-repeat;

  height: 68rem;
}

@keyframes rotate{
  to{
    transform: rotate(360deg);
  }
}