/*=========== RESET ===============================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/*=========== VARIAVEIS ===============================*/
:root {
  font-size: 62.5%;
  /* colors */
  --header-height: 4.5rem;
  --hue: 159;
  /* HSL color mode */
  --base-color: hsl(159 36% 57%);
  --base-color-second: hsl(159 65% 88%);
  --base-color-alt: hsl(159 57% 53%);
  --title-color: hsl(159 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);

  --bg-color: rgb(43, 43, 43);

  /* fonts */
  --title-font-size: 3rem;
  --subtitle-font-size: 1.6rem;

  --title-font: "Poppins", sans-serif;
  --body-font: 'Open Sans', sans-serif;

  --second-color: rgb(199, 162, 0);
}

/*=========== BASE ===============================*/
html {
  scroll-behavior: smooth;
}

body {
  font: 400 1.6rem var(--body-font);
  color: var(--text-color);
  background: var(--body-color);
  -webkit-font-smoothing: antialiased;
}

.title{
  font: 700 var(--title-font-size) var(--title-font);
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}

.button {
  background-color: rgb(84, 179, 21);
  color: var(--text-color-light);
  height: 5.6rem;
  display: inline-flex;
  align-items: center;
  padding: 0 3.2rem;
  border-radius: 0.4rem;
  font: 500 1.6rem var(--body-font);
  transition: background 0.3s;
}

.button:hover {
  background-color: rgb(141, 206, 97);
}

/* ============== LAYOUT ============== */

.container {
  margin-left: 2.4rem;
  margin-right: 2.4rem;
}

.grid {
  display: grid;
  gap: 3.2rem;
}

.section {
  padding: calc(8rem + var(--header-height)) 0;
  /* padding: calc(8rem + var(--header-height)) 0 5rem; */
}

.section .title {
  margin-bottom: 1.6rem;
}

.section .subtitle{
  font-size: var(--subtitle-font-size);
}

.section header {
  margin-bottom: 4rem;
}

.section header strong {
  color: var(--second-color);
}

.section.menu header svg path{
  fill: black;
}

.divider-1 {
  height: 2px;
  background: linear-gradient(270deg,
      hsla(var(--hue), 36%, 57%, 1),
      hsla(var(--hue), 65%, 88%, 0.34));
}

.divider-2 {
  height: 2px;
  background: linear-gradient(270deg,
      hsla(var(--hue), 65%, 88%, 0.34),
      hsla(var(--hue), 36%, 57%, 1));
}

/* ================== HEADER ================== */
#header {
  display: flex;

  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
    
  background-image: url(./assets/images/download.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  }

/* ===== ON SCROLL / javascript */
#header.scroll {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.55);
}

/* =========== LOGO ================== */
.logo img{
  width: 12rem;
  height: 10rem;
}

/* ============ NAVIGATION ================= */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

nav .title{
  color: var(--body-color);
}

nav ul li {
  text-align: center;
}

nav ul li a {
  transition: color 0.2s;
  position: relative;
}

/* não estou usando o .active ainda****** */
nav ul li a:hover,
nav ul li a.active {
  color: var(--second-color);
}

nav ul li a::after{
  content: '';
  width: 0%;
  height: 2px;
  background: var(--second-color);

  position: absolute;
  left: 0;
  bottom: -1.5rem;

  transition: width 0.2s;
}

nav ul li a:hover::after,
nav ul li a.active::after {
  width: 100%;
}


nav .menu {
  opacity: 0;
  visibility: hidden;
  right: -32rem;
  transition: .2s;
}

nav .menu ul {
  display: none;
} 

/*==== MOSTRAR MENU ===========================*/
nav.show .menu {
  display: grid;
  place-content: center;

  opacity: 1;
  visibility: visible;

  background: var(--bg-color);

  height: 100vh;
  width: 50vw;

  position: fixed;
  top: 0;
  right: 0;
}

nav.show .menu ul {
  display: grid;
}

nav.show ul.grid {
  gap: 6.4rem;
}

/* Toggle Menu (abre e fecha)*/
 .toggle {
  color: var(--body-color);
  font-size: 2.4rem;
  cursor: pointer;
}

nav .icon-close {
  visibility: hidden;
  opacity: 0;

  position: absolute;
  top: -2.4rem;
  right: 2.4rem;

  transition: .2s;
}

nav.show div.icon-close {
  visibility: visible;
  opacity: 1;
  top: 2.4rem;
} 

/* ================== HOME =============== */
#home{
overflow: hidden;
}

#home.section {
  padding: calc(10rem + var(--header-height)) 0;
}

#home .container{
  margin: 0;
}

#home .image {
  position: relative;
}

#home .image::before {
  content: '';
  height: 100%;
  width: 100%;
  background-image: url(./assets/images/download.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;  
  position: absolute;
  top: -50.8%;

  z-index: 0;
}

#home .image img{
  position: relative;
}

#home .text {
  margin-left: 2.4rem;
  margin-right: 2.4rem;
  text-align: center;
}

#home .text h1 {
  margin-bottom: 1.6rem;
}

#home .text p {
  margin-bottom: 3.2rem;
}

/* ================== MENU =============== */
#menu{
overflow: hidden;
}

#menu header{
  margin: 4rem 2.4rem ;
}
#menu header img{
  max-width: 70%; 
  justify-self: center;
}

#menu .container {
  margin: 0;
  border-radius: 4rem;
  background-image: url(./assets/images/bg.jpg);
  
}

#menu .card-wrapper{
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);     
  border-radius: 4rem;
  box-shadow: 0 0 8px 0 gray;
}

.card{
  position: relative;
  width: 100%;
  height: 250px;
  background-color: #353534;
  color: #242329;
  text-align: center;
  border: 5px solid #fff;
  box-shadow: 0 0 5px 0 #00000048;
  overflow: hidden;
}

.card_data{
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 2rem;
  transform: translateY(-250px);
  transition: transform .5s;
}

.card_img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform .25s .35s;

  position: relative;
}

.card_title{
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--second-color);
  padding: 5px;
  background-color: #61616127;
  backdrop-filter: blur(10px);
  position: absolute;
  top: 0rem;
  transition: transform .25s .35s;

}

.card .card_price{
  color: var(--text-color-light);
  font-size: 1.8rem;
  font-weight: bold;

  padding: 5px;

  position: absolute;
  top: 3.6rem;
  left: 0;
  transition: transform .25s .35s;
}

.card .title{
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--second-color);
}

.card_description{
  padding: 10px;
  margin-bottom: 15px;
  color: var(--text-color);
}

.card_btn{
  display: inline-block;
  text-decoration: none;
  padding: 5px 10px;
  color: #242329;
  background-color: #fff;
  transition: background-color .25s;
}

.card_btn:hover{
  background-color: #242329;
  color: #fff;
}

.card:hover .card_data{
  transform: translateY(0px);
}

.card:hover .card_img,
.card:hover .card_title,
.card:hover span{
  transform: translateY(250px);
  transition-delay: 0s;
}

#menu .card_footer{
  width: 100%;
  display: flex;
  justify-content: center;
}

.button_menu_complete{
  background-color: rgba(84, 179, 21, 0);
  color: var(--text-color);
  height: 5.6rem;
  display: inline-flex;
  align-items: center;
  padding: 0 3.2rem;
  border-radius: 0.4rem;
  border: 1px solid var(--second-color);
  font: 500 1.6rem var(--body-font);
  transition: background 0.3s;
  margin: 6rem 0;
}
  
.button_menu_complete:hover {
  background-color: var(--second-color);
  color: var(--text-color-light);
}

/* ================== ABOUT =============== */

#about {
  overflow: hidden;
}

#about .container {
  margin: 0;
}

#about .image {
  position: relative;
}

#about .image::before {
  content: '';
  height: 100%;
  width: 100%;
  background: var(--second-color);
  position: absolute;
  top: -16.3%;
  left: -33%;

  z-index: 0;
}

#about .image img {
  position: relative;
}

#about .image img,
#about .image::before {
  border-radius: 0.25rem;
}

#about .text{
  margin-left: 2.4rem;
  margin-right: 2.4rem;
}
