* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  background: linear-gradient(rgb(131, 94, 153),#ddd,#ddd);
}

#hero {
  max-width: 592px;
  margin: 0 auto 72px;
}

#hero img{
  margin-bottom: 72px;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-size: 49px;
  line-height: 56px;
  font-weight: normal;

  margin-bottom: 32px;
}

h1 span {
  font-weight: bold;
}

span,
a {
  color: #FF9900;
}

p, #footer {
  color: #7D7987;
  font-size: 14px;
  line-height: 28px;
}

#footer{
  margin-bottom: 68px;
}

#footer a+a {
  margin-left: 28px;
}

.line {
  max-width: 568px;
  height: 0;
  margin: 0 auto 8px;

  border-top: 1px solid rgb(217, 167, 241);
}

#balls{
  position: fixed;
  bottom: 0;
  right: 0;
}