* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

#hero {
  max-width: 592px;
  margin: 0 auto 72px;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-size: 49px;
  line-height: 56px;
  font-weight: normal;
}

h1 span {
  font-weight: bold;
}

span,
a {
  color: #FF9900;
}

p {
  color: #7D7987;
  font-size: 14px;
  line-height: 28px;
}

#footer{
  margin-bottom: 318px;
}

#footer a+a {
  margin-left: 28px;
}

.line {
  max-width: 568px;
  margin: 0 auto 8px;
  border-top: 1px solid #ECEFF2;
}

#balls{
  position: fixed;
  bottom: 0;
  right: 0;
}