/* BASIC RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ROOT ELEMENTS */
:root {
  font-size: 62.5%;
  --ff-heading: 'Roboto', sans-serif;

  --hue: 194;
  --bg-primary: hsl(var(--hue), 9%, 89%);
  --bg-secondary: hsl(var(--hue), 97%, 31%);
  --bg-display-primary: hsla(0, 0%, 50%, 0.59);

  --text-color: hsl(var(--hue), 6%, 21%);
  --bg-color: hsl(var(--hue), 0%, 100%);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /*pode ser transparent também*/

}

/*====== BASE =======*/
.hide{
  display: none;
}

body {
  font-size: 1.6rem;
  font-family: var(--ff-heading);

  color: var(--bg-color);

  display: grid;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button svg path {
  fill: var(--text-color);
}

/*====== MAIN / PLAYER TIMER/ PLAYER SOUND =======*/
main {
  display: flex;
  gap:  clamp(4rem, 2rem + 10vw, 19.2rem);

  max-width: 91rem;
}

/* ========== PLAYER ========== */
.player {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-image: url('./assets/images/pomodoro.png');
  background-color: rgba(0, 0, 0, 0.822);
  
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  padding: 1rem;
  border-radius: 2rem;

  animation: toRight 950ms;
}

/* Player-Timer Display */
#timer {
  font-size: 12.6rem;
  display: flex;

  margin-bottom: 1.7rem;

  background-color: var(--bg-display-primary);
  padding: 1rem;
  border-radius: 1rem; 
}

/* Player-Timer Controls */
#controls {
  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: var(--bg-display-primary);
  padding: 1rem;
  border-radius: 1rem; 
}

#controls button:active{
    transform: scale(1.2);
}

#controls button svg path{
  fill: var(--bg-color);
}

/* ========== PLAYER SOUND ========== */
.sounds {
  background-color: rgba(92, 91, 91, 0.363);
  padding: 2rem;
  border-radius: 2rem;
  display: grid;
  grid-template-areas: "A B"
    "C D";
  gap: 3.2rem;

  animation: toLeft 950ms;
}

.music-1 {
  grid-area: "A";
}

.music-2 {
  grid-area: "B";
}

.music-3 {
  grid-area: "C";
}

.music-4 {
  grid-area: "D";
}

.sounds button {
  padding: 4rem;
  border-radius: 2.4rem;
  background-color: var(--bg-primary);
}

section .active,
section>.active svg path {
  background-color: var(--bg-secondary);
  fill: var(--bg-color);
}
.sounds .active{
  transition: 300ms;

  transform: scale(1.13);
}

/*========== RESPONSIVE ==========*/
@media(max-width: 800px){
  main{
    gap: 2rem
  }
}

@media(max-width: 738px){
  body{
    min-height: 90vh;
  }
  main{
    flex-direction: column;
  }
}

/*========== ANIMATIONS ==========*/
@keyframes topDown{
  0%{
    opacity: 0;
    transform: translateY(-50px)
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes toRight{
  0%{
    opacity: 0;
    transform: translateX(-150px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes toLeft{
  0%{
    opacity: 0;
    transform: translateX(150px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}