@font-face {
    font-family: circular-black;
    src: url(./fonts/fonts/CircularStd-Black.otf);
}
@font-face {
    font-family: circular-bold;
    src: url(./fonts/fonts/CircularStd-Bold.otf);
}
@font-face {
    font-family: circular-book;
    src: url(./fonts/fonts/CircularStd-Book.otf);
}
@font-face {
    font-family: circular-light;
    src: url(./fonts/fonts/CircularStd-Light.otf);
}
@font-face {
    font-family: circular-medium;
    src: url(./fonts/fonts/CircularStd-Medium.otf);
}

/*=========== RESET ===============================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul { 
    list-style: none;
}

/*=========== VARIAVEIS / ROOT CONFIG ===============================*/
:root {
    font-size: 62.5%;

    --title-font-size: 2.875rem;

    --title-color: rgb(255, 255, 255);
}

/*=========== BASE ===============================*/
html {
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    min-height: 100vh;

    -webkit-font-smoothing: antialiased;
}

/*=========== LAYOUT ===============================*/
.section{
    padding: 3.5rem 0;
    width: 100%;
    -webkit-font-smoothing: antialiased;
}
.container {
    padding: 0 1.5rem;
}

.grid {
    display: grid;
    gap: 2rem;
}

.title {
    font: 700 var(--title-font-size) arial;/* ** */
    color: var(--title-color);
    -webkit-font-smoothing: auto;
}


/*=========== HEADER ===============================*/
#header {
    width: 100%;
    min-height: 5.4rem;

    background: #000;
}

#header nav {
    display: flex;
    justify-content: space-between;

    height: 5.4rem;

    margin: 0 auto;
}

/* =====================LOGO====================== */

.logo {
    display: inline-block;

    height: 4.7rem;
    width: 8.9rem;

    margin-top: 4px;
}

.logo svg {
    width: 100%;
    height: 100%;
}

.logo svg path {
    fill: #fff;
}

/*=========== NAVIGATION ===============================*/
nav ul li {
    text-align: center;
    color: #fff;
}
  
nav ul li a {
    transition: color 0.2s;
    position: relative;
}
  
nav ul li a:hover,
nav ul li a.active {
    color: greenyellow;
}  
  
nav .menu {
    opacity: 0;
    visibility: hidden;
    right: -20rem;
    transition: .2s all ease-in-out;
}
  
nav .menu ul {
    display: none;
}

/*==== MOSTRAR MENU ===========================*/
nav.show .menu {
    display: grid;
    place-content: center;
  
    opacity: 1;
    visibility: visible;
  
    background: #000;
  
    height: 100vh;
    width: 100vw;
  
    position: fixed;
    top: 0;
    right: 0;
}
  
nav.show .menu ul {
    display: grid;
} 
  
nav.show ul.grid {
    gap: 4rem;
}


/* Toggle Menu (abre e fecha)*/
.toggle {
    color: white;
    font-size: 2.7rem;
    cursor: pointer;
    font-weight: bold;
}

nav .icon-menu {
    margin-top: 13px;
}

nav .icon-close {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: -1.5rem;
    right: 1.5rem;
  
    transition: .2s;
}

nav.show div.icon-close {
    visibility: visible;
    opacity: 1;
    top: 1.3rem;
}

/* nav.show li.separator {
    display: inline-block;
    height: 1px;
    width: 16px;
    background: currentColor;
    margin: auto 17px;
} */

/*=========== MAIN ===============================*/

/*=========== HOME ===========*/
#home{
    background-color: rgb(29, 117, 222);
    color: white;
}

#home.section{
    padding: 4.8rem 0 2.4rem;
}

#home .title{
    font:  clamp(2.2rem, 2.2rem + 1vw, 2.8rem) circular-black;
}

#home .subtitle{
    font: 1.8rem circular-book ;

    line-height: 1.5;
    margin: 15px 0px 0px;
}

.btn-home{
    margin: 20px 0px;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.button{
    display: inline-block;
    padding: 1.5rem 3.2rem;

    background-color: black;

    border: 2px solid black;
    border-radius: 50rem;

    font: 1.4rem circular-bold;
    color: white;

    text-align: center;
    text-transform: uppercase;

    transition: all .00s;
}

.button:hover{
    transform: scale(1.033);
}

.btn-home .button:nth-child(2){
    border: 2px solid white;
    background-color: transparent;
}
.btn-home .button:nth-child(2):hover{
    background-color: #1A69C7;
   
}

.info-terms{
    font:  1.1rem circular-book;
    color: #ffffff;
}

.info-terms a{
    color: #ffffff;
    text-decoration: underline;
    line-height: 1.6rem;
}

#home .info-terms{
    margin-top: 4.5rem;

}

/*=========== ABOUT ===========*/

#about header{
    width: 100%;
    
    text-align: center;

    margin-bottom: 30px;
}

#about header .title{
    color: black;
    font-family: 'circular-medium';
    font-size: 2.8rem;
    line-height: 1.5;


}

.card-list li{
    display: flex;
    margin-bottom: 20px;
}

.card-list li .image{
    display: inline-block;
    background-image: url(https://i.scdn.co/image/ab671c3d0000f43009302fbaf6259b4c117c704f);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;

    margin-right: 20px;
    -webkit-box-flex: 1;
    flex-grow: 1;
    width: 142px;
    height: 142px;
}

.card-list li:nth-child(2) .image{
    background-image: url(https://i.scdn.co/image/ab671c3d0000f43098292b95d24a697c20df5137);
}

.card-list li:nth-child(3) .image{
    background-image: url(https://i.scdn.co/image/ab671c3d0000f4306998d3ffd58aad6da6afdf67);
}

.card-list li:nth-child(4) .image{
    background-image: url(https://i.scdn.co/image/ab671c3d0000f430cd6c528745e510c5be63a012);
}

.card-list .text{
    display: inline-block;
    width: 100%;
    -webkit-box-flex: 1;
    flex-grow: 1;
    margin: 16px 0px;
}

.card-list .text h2{
    font-family: 'circular-black';
    font-size: 21px;
    font-weight: bold;
    line-height: 1.3em;

    margin-bottom: 10px;
    padding: 0px;
}

.card-list p{
    display: inline-block;

    font-family: 'circular-book';
    font-size: 16px;
    line-height: 1.5;

    padding: 0px;
}

/*=========== CHOICE YOUR PLAN ===========*/
#choice{
    min-height: 100vh;/*  */
    background-color: #EFEFEF;
}


#choice header .title{
    font-size: 32px;
    font-weight: bold;
    letter-spacing: -1.28px;
    line-height: 1;
    text-align: center;
    color: black;/*  */
    margin: 0px;
    padding: 0px;
    font-family: 'circular-bold';
}

#choice header .subtitle{
    font-family: 'circular-book';
    font-size: 16px;
    font-weight: normal;
    margin: 10px 0px;
    text-align: center;
    padding: 0px;
}

.payment{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    margin-top: 16px;
}

.payment ul{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.payment ul li{
    margin-right: 7px;
}

.payment ul li .payment-image{
    background-image: url(https://content-tooling.spotifycdn.com/images/52f004ea-a49a-420b-8dca-14f5304ff4bf_visa.svg);
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;

    width: 29px;
    height: 20px;
    vertical-align: middle;
}

.payment ul li:nth-child(2) .payment-image {
    background-image: url(https://content-tooling.spotifycdn.com/images/3a865441-c6d4-4f92-a4be-6c96c0e96d1f_mastercard.svg);
}

.payment ul li:nth-child(3) .payment-image {
    background-image: url(https://content-tooling.spotifycdn.com/images/d4dd3e5b-f7d9-4cd0-80f1-b65f19c5e55c_amex.svg);
}

.payment ul li:nth-child(4) .payment-image {
    background-image: url(https://content-tooling.spotifycdn.com/images/0a5cdc06-7024-4d04-999f-18e8b225b581_elo.svg);
}

.payment ul li:nth-child(5) .payment-image {
    background-image: url(https://content-tooling.spotifycdn.com/images/46c5bd7a-bdb3-43a8-916d-889887b02d80_hiper.svg);
}


.payment .more-payments span{
    text-decoration: underline;
    font-family: circular-book;
}


/* ======================= */

.space {
    background-color: rgb(255, 255, 255);
    margin-right: auto;
    margin-left: auto;
    max-width: 440px;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 0px;
}

.container-wrapper{
    margin: 50px 0px 26px;
}

.card-header{
    position: relative;
    color: rgb(0, 0, 0);
    border-radius: 10px 10px 0px 0px;
    padding-top: 20px;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    box-shadow: rgb(255 255 255) 0px 8px 0px 0px, rgb(0 0 0 / 30%) 0px 0px 8px;
}

.card-header ul{
    margin: 0px;
    padding: 0px;
}

.card-header ul li{
    border-radius: 4px;

    font-family: 'circular-black';

    font-size: 14px;
    padding: 4px 8px;
    display: inline-block;
    font-weight: 900;
    margin: 0px 4px 10px 0px;
    margin-block: 0px 10px;
}

.card-header ul li:nth-child(1) {
    color: rgb(255, 255, 255);
    background-color: rgb(13, 114, 234);
}

.card-header ul li:nth-child(2) {
    color: rgb(13, 114, 234);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(13, 114, 234);
} 

.card-header h3{
    font-family: 'circular-bold';
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
    margin: 0px 0px 5px;
    padding: 0px;
}

.card-header p{
    font-family: 'circular-book';
    color: rgb(0, 0, 0);
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin: 0px 0px 2px;
}

.card-header p:last-of-type{
    margin-bottom: 20px;

}

.card-header hr{
    align-self: stretch;
    border-color: rgb(204, 204, 204);
    margin: auto 0px 0px;
}

/* ==================================================== */

.card-body{
    padding-top: 32px;
    padding-bottom: 16px;
    list-style: none;
    box-shadow: rgb(0 0 0 / 30%) 0px 0px 8px;
    margin-top: 0px;    
}

.card-body li{
    display: flex;
    margin-bottom: 5px;
    font-family: 'circular-book';
}

.card-body li .list-img{
    display: inline-block;
    color: rgb(0, 0, 0);
    padding: 0px 10px 0px 0px;
}

.card-body li p{
    color: rgb(0, 0, 0);
    line-height: 22px;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.card-buttom{
    box-shadow: rgb(255 255 255) 0px -9px 0px 0px, rgb(0 0 0 / 30%) 0px 0px 8px;
    padding-bottom: 0px;
    text-align: center;
}

.card-buttom .button{
    display: flex;
    justify-content: center;
    width: 100%; 
    position: relative;
}

.container-wrapper .info-terms{
    border-radius: 0px 0px 10px 10px;
    box-shadow: rgb(255 255 255) 0px -9px 0px 0px, rgb(0 0 0 / 30%) 0px 0px 8px;
    padding-top: 4px;
    padding-bottom: 20px;
    margin-bottom: 16px;
}

.container-wrapper .info-terms p,
.container-wrapper .info-terms a{
    color: rgb(83, 83, 83);
    margin-top: 12px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    text-align: left;
}

/*=========== FOOTER ===========*/

footer.section{
    padding: 50px 0 20px;
    background-color: black;
}

#footer,
.bottom-links a{ /* **** */
    font-size: 16px;
    font-family: 'circular-book';
    font-weight: 400;
}

#footer .logo{
    margin-top: 0;
}

/* ======================= */
.top-links{
    display: flex;
    flex-direction: column;
}

.top-links dt{
    color: #919496;
    font-size: 12px;
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: .08em;
    text-transform: uppercase;
    margin: 50px 0 22px;

}

.top-links dl dd {
    padding: 3px 0 15px;
}
.top-links dl dd a{
    color: white;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-decoration: none;
}

/* ======================= */
.social-icons {
    margin: 120px 0 15px;
}

.social-icons ul{
    margin: 20px 0 0;
    padding: 0;
}

.social-icons ul li {
    margin-right: 15px;
    display: inline-block;
}

.social-icons ul li a {
    border-radius: 50%;
    background-color: #222326;
    display: inline-flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 44px;
    height: 44px;
}

.social-icons ul li a span{
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(./assets/images/insta.svg);
    background-color: currentColor;
}

.social-icons ul li:nth-child(2) span{
    background-image: url(./assets/images/twitter.svg);
}

.social-icons ul li:nth-child(3) span{
    background-image: url(./assets/images/facebook.svg);
}

/* ======================= */
.country {
    display: flex;
    justify-content: flex-end;
}

.country a{
    color: #919496;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    white-space: nowrap;
    font-size: 10px;
    text-decoration: none;  
    padding: 0;
}

.country svg {
    margin: 0 8px 0 0;
}

/* ======================= */
.bottom-links {
    display: flex;
}

.bottom-links ul{
    margin: 0 45px 0 0;
}

.bottom-links ul li {
    margin-right: 24px;
    list-style: none;
    display: inline-block;
    line-height: normal;
    letter-spacing: 0;
}

.bottom-links ul li a{
    color: #919496;
    padding: 1em 0;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    white-space: nowrap;
    font-size: 10px;
    text-decoration: none;
}

.bottom-links span {
    padding: 1em 0;
    flex-shrink: 0;
    font-size: 10px;
    color: #919496;
    margin: 0 0 0 auto;
}

/*=========== RESPONSIVE ===========*/
@media (min-width: 480px){
#home .title {
    font-size: 28px;
}

#home .subtitle{
    margin: 30px 0px 50px; /* ** */
}

}

/* ======================= */

@media (min-width: 768px){
.section {
    padding: 75px 0;
}
.container{
    width: 750px;
    margin: 0 auto;
}

#home .title {
    font-size: 40px;
}

#home .subtitle {
    font-size: 24px;
    margin-bottom: 0px;
}

.btn-home {
    flex-direction: row;
    margin: 35px 0px 0px;
}



#about header{
    margin-bottom: 72px;
}

#about header .title {
    font-size: 40px;
    line-height: 46px;
}

#about .card-list {
    display: flex;
    flex-wrap: wrap;
}

#about .card-list li {
    -webkit-box-flex: 1;
    flex-grow: 1;
    width: 50%;
}

#footer .top-links {
    flex-direction: row;
}

.top-links dl + dl{
    padding-left:15px;
    margin: 0;
}

.top-links dl{
    flex: 1 0;
}

.country a,
.bottom-links ul li a,
.bottom-links span{
    font-size: 12px;
}
}

/* ======================= */

@media (min-width: 992px){

.container {
    width: 970px;
}

#header nav {
    height: 80px;
}

.logo {
    /* margin-top: 20px;
    height: 40px;
    width: 132px; */

    margin-top: 13px;
    height: 60px;
    width: 132px;
}

nav .menu {
    display: flex;
    align-items: center;
    opacity: 1;
    visibility: visible;
    top: 0rem;
}

nav .menu ul {
    display: flex;
    gap: 0rem;
}

nav .menu ul li a.title {
    padding: 28px 17px;
    font: 400 1.6rem 'circular-bold';
    -webkit-font-smoothing: antialiased;
}

nav .menu ul li:last-child a {
    padding-right: 0;
}

nav .menu ul li a.active {
    font-weight: bold;
    -webkit-font-smoothing: auto;
}

nav .icon-menu {
    display: none;
} 

nav li.separator {
    display: inline-block;
    height: 16px;
    width: 1px;
    background: currentColor;
    margin: auto 17px;
}

footer.section {
    padding: 80px 0 50px;
}

#footer .container {
    display: flex;
    flex-wrap: wrap;
}

.footer-logo {
    padding-right: 15px;
    width: 16.66666667%;  
    min-height: 346px  
}

.top-links {
    width: 50%;
    flex: 0 0 auto;
}

.top-links dt {
    margin: 20px 0;
}

.social-icons {
    margin: 0 0 0 auto;
}

.country,
.bottom-links {
    width: 100%;
}
}

/* ======================= */

@media (min-width: 1200px){
.container {
    width: 1170px;
}

#home.section {
    text-align: inherit;
    padding-top: 72px;
    padding-bottom: 40px;
}

#about .card-list {
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

#about .card-list li {
    display: block;
    width: 270px;
}

#about .card-list .image {
    display: block;
    margin: 0px auto 40px;
}

.card-list .text {
    display: block;
    text-align: center;
}

#choice .container-wrapper {
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-auto-flow: column;
    column-gap: 1.6rem;
    grid-template-columns: repeat(4, 1fr);
    -webkit-box-pack: center;
    justify-content: center;
}

#choice .card-buttom {
    width: 100%;
}
}
